@font-face {
    font-family: 'BookMatch';
    src: url(Novecentosanswide-DemiBold.otf);
}
@font-face {
    font-family: 'Livros';
    src: url(Baskervville-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /* retirando decoração do texto*/
}
h1 {
    font-family: BookMatch;
    color: rgb(255, 255, 254); padding-top: 1.2rem; font-weight: bold
}


html {
    margin: 0;
    padding: 0;
    
    scroll-behavior: smooth;
}



body {
    overflow-x: hidden; /* retirar o scrool na horizontal/ pode ser usado só o scrool (global)*/
    overflow-y: auto;
    font-size: 100%; /* tamanho da fonte */
    background-size: cover; 
    background-position: center;  
    
}

/*estilizando e modulando o cabeÇalho/ NAV */
.cabecalho{
    display:flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-around;
    padding: 60px 4%;
    
}

.cabecalho-imagem {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: Livros;
    color: rgb(40, 14, 5);
    font-weight: 400;
    font-size: 18px;
}

/*BLOCO DE SOBRE:*/
.conteudo{
    margin-bottom: 40px;
    border-top: 0.4px solid #dfdfdf;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

/*
@media(max-width: 768px) {
    .container{
        grid-template-columns:1fr ; /*defir que ele irá ter uma coluna}}*/


.conteudo-principal-escrito-titulo{
    display: flex;
    font-family: BookMatch;
    font-weight: 400;
    margin-top: 200px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-around;
    color: rgb(73, 35, 8);
}

.conteudo-principal-escrito-paragrafo{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Livros;
    padding: 0 50px; /* espaço nas laterais */


}

/*BLOCO DE TOP RECOMENDAÇÕES*/
.container {
    display:block;
    flex-direction:column-reverse;
    gap: 0.25rem;
    padding: 0 50px; /* espaço nas laterais */
    width:auto;
    background-color: rgb(240, 237, 234);
    border-radius: 5px;
    text-align: center;
    padding: 0 50px; /* espaço nas laterais */
    font-family: Livros;
    font-weight: bold;
}


.texto{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #dfdfdf;
}


header {
    height: 9rem;
    padding: 8px 16px 8px 16px;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color:#FFDC5E;
}
 

.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.livro1 h4 {
    font-family: Livros;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #352C58;
}

.livro1 img {
    width: 150px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}

.livro1 {
    font-family: Livros;
    font-weight: bold;
    margin: 5rem;
    background-color:#B08ADC;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    text-align: center;
    padding: 0 1rem;
     color: #352C58;
    
}

.livro2 h4 {
    font-family: Livros;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.livro2 img {
    width: 160px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 16px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}


.livro2 {
    font-family: Livros;
    font-weight: bold;
    margin:5rem;
    background-color: #C44104;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    text-align: center;
    padding: 0 1rem;
}

.livro3 h4 {
    font-family: Livros;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.livro3 img {
    width: 160px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}

.livro3 {
    font-family: Livros;
    font-weight: bold;
    margin: 5rem;
    background-color: #6EB57C;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    text-align: center;
    padding: 0 1rem;
    color: #DADADA;
}

.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.livro4 h4 {
    font-family: Livros;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.livro4 img {
    width: 160px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 9px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}

.livro4 {
    font-family: Livros;
    font-weight: bold;
    margin: 5rem;
    background-color:#B08ADC;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    text-align: center;
    padding: 0 1rem;
     color: #352C58;
}

.livro5 h4 {
    font-family: Livros;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.livro5 img {
    width: 150px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 9px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}

.livro5 {
    font-family: Livros;
    font-weight: bold;
    margin: 5rem;
    text-align: center;
    background-color: #C44104;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    padding: 0 1rem;
}

.livro6 h4 {
    font-family: Livros;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.livro6 img {
    width: 160px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 22px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}

.livro6 {
    font-family: Livros;
    font-weight: bold;
    margin: 5rem;
    text-align: center;
    background-color:#6EB57C;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    padding: 0 1rem;
}

.section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.livro7 h4 {
    font-family: Livros;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.livro7 img {
    width: 160px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 0px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}

.livro7 {
    font-family: Livros;
    font-weight: bold;
    margin: 5rem;
    background-color:#B08ADC;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    text-align: center;
    padding: 0 1rem;
    color: #352C58;
}

.livro8 h4 {
    font-family: Livros;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.livro8 img {
    width: 160px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 11px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}

.livro8 {
    font-family: Livros;
    font-weight: bold;
    margin: 5rem;
    text-align: center;
    background-color:  #C44104;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    padding: 0 1rem;
}

.livro9 h4 {
    font-family: Livros;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.livro9 img {
    width: 160px;
    height: auto;
    background-size: 100px 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 3px solid white;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 10px;
}

.livro9 {
    font-family: Livros;
    font-weight: bold;
    margin: 5rem;
    text-align: center;
    background-color: #6EB57C;
    box-shadow: 10px 5px 5px #000000bd;
    border-radius: 16px;
    padding: 0 1rem;
}

/*BLOCO DE RESENHAS*/

.bloco{
    display:flex;
    flex-direction:column;
    gap: 0.25rem;
    padding: 0 50px; /* espaço nas laterais */
    width: auto;
    border-radius: 5px;
    background-color: #6d93ab;
    text-align: center;
}

.bloco h3{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f0eeee;
}

.bloco img{
  display: block;              /* Remove espaço extra abaixo da imagem */
  margin: 0 auto;              /* Centraliza horizontalmente */
  max-width: 100%;             /* Garante que a imagem não ultrapasse o contêiner */
  height: 100;                /* Mantém a proporção da imagem */
  border-radius: 8px;          /* Opcional: cantos arredondados */
  width: 300px;
  box-shadow: 10px 5px 5px #000000bd; /*coloquei sobreamento nas bordas*/
  margin-bottom: 40px;
}


footer {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Livros;
    font-weight: bold;
}
